body{
    font-family: serif;
    font-size: 20px;
}

table, th, td {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  border-collapse:
  collapse; 
}

.botao {
  height: 50px;
  width: 170px;
  align-content: center;
  font-size: 14px;
  background-color: #33ff71;
}
